* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 242, 249);
}
.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  height: 75px;
}
.icon__container {
  width: 100px;
  margin-left: 10px;
}
.icon__container img {
  width: 100%;
}
.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  gap: 20px;
}
.navbar__left i {
  margin: 0px 10px;
  font-size: 25px;
  color: gray;
}
.navbar__left a {
  text-decoration: none;
  color: rgb(116, 121, 139);
  font-weight: 500;
  font-size: 20px;
}
.for__business {
  font-weight: 500;
}
.for__business:hover {
  color: rgb(74, 201, 102);
  transition: 0.3s;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  gap: 25px;
}
.icon__container__right {
  width: 40px;
}
.icon__container__right img {
  width: 100%;
}
.icon__container__right img:hover {
  cursor: pointer;
}
.login__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(116, 121, 139);
}
.navbar__right p:hover {
  color: green;
}
.adBtn {
  border: transparent;
  margin-left: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 16px;
  background-color: rgb(244, 35, 101);
  font-size: 16px;
  font-weight: 500;
}
.main__container {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  margin-top: 100px;
  gap: 30px;
  margin-left: 30px;
}
.item__container {
  height: 200px;
  width: 700px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(220, 221, 226);
  display: flex;
}
.img__container {
  height: 100%;
  width: 35%;
}
.img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item__right {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 10px;
  width: 100%;
}
.mobile__phone,
.product__name {
  color: rgb(115, 125, 155);
  font-size: 12px;
  padding: 15px 0px;
}
.product__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(92, 152, 236);
  display: block;
  max-width: 400px;
  padding: 15px 0px;
}

.product__price {
  color: rgb(197, 23, 82);
  font-weight: 500;
}
.envelope__icon {
  position: absolute;
  top: 5px;
  right: 50px;
  font-size: 25px;
  color: gray;
}
.envelope__icon:hover {
  cursor: pointer;
  color: rgb(74, 201, 102);
}
.heart__icon:hover {
  cursor: pointer;
  color: rgb(244, 35, 101);
}
.heart__icon {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 25px;
  color: gray;
}
.call_us {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(74, 201, 102);
}
.call_us:hover {
  cursor: pointer;
}
