* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 242, 249);
}
.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  height: 75px;
}
.icon__container {
  width: 100px;
  margin-left: 10px;
}
.icon__container img {
  width: 100%;
}
.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar__left i {
  margin: 0px 10px;
  font-size: 25px;
  color: gray;
}
.navbar__left a {
  text-decoration: none;
  color: rgb(116, 121, 139);
  font-weight: 500;
  font-size: 20px;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon__container__right {
  width: 40px;
}
.icon__container__right img {
  width: 100%;
}
.icon__container__right img:hover {
  cursor: pointer;
}
.navbar__right p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.navbar__right p:hover {
  color: green;
}
.adBtn {
  border: transparent;
  margin-left: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 16px;
  background-color: rgb(244, 35, 101);
  font-size: 16px;
  font-weight: 500;
}
.main__container {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  margin-top: 100px;
  gap: 30px;
  margin-left: 30px;
}
.item__container {
  height: 150px;
  width: 50vw;
  background-color: white;
}
