* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 242, 249);
}
.navbar__container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}
.icon__container {
  width: 100px;
}
.icon__container img {
  width: 100%;
}
.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar__left i {
  margin: 0px 10px;
  font-size: 25px;
  color: gray;
}
.navbar__left a {
  text-decoration: none;
  color: rgb(116, 121, 139);
  font-weight: 500;
  font-size: 16px;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon__container__right {
  width: 100px;
}
.icon__container__right img {
  width: 100%;
}
